<div style="text-align:center">
  <button nz-button [nzType]="'primary'" (click)="changeColor('blue')">蓝色</button>
  <button nz-button [nzType]="'primary'" (click)="changeColor('green')">绿色</button>
  <button nz-button [nzType]="'primary'" (click)="changeColor('black')">黑色</button>
  <h1>
    Welcome to {{ title }}!
  </h1>

  <h2>测试测试测</h2>
  <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
  <p class="text">
    　结果，控制台显示：Less has finished and no sheets were loaded.　
    然后我将less.js文件和less文件的位置调换了下，没有发生任何改变 -。-
  </p>

  <div class="todo">
    sometodo
  </div>

  <app-some></app-some>
</div>